/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'Lexend Zetta', sans-serif;

    margin: 0;
    background-color: #1F1F1F;
}

nav{
    position: fixed;
    z-index: 10;

    width: 100%;
    height: 50px;
    border-bottom: 1px solid #F1AB77;

    background-color: #1F1F1F;
}


ul{
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;


    height: 100%;
}

li{
    list-style: none;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFB47D;
}

ul li{
    margin-left: 10px;

  
}

.start-and-button{
    display: flex;
}
.start-and-button li{
    margin-right: 20px;
}


.main-img{
    position: relative;

    padding-top: 50px;
    padding-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 241px;

}

.main-img::before{
    position: absolute;
    z-index: -1;

    content: "";
    width: 100%;
    height: 100%;

    background-image: url("https://scontent.fcue1-1.fna.fbcdn.net/v/t1.6435-9/119003654_3577250808986566_4913772403349544018_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=btf94-5P3NgAX_jOAN7&_nc_ht=scontent.fcue1-1.fna&oh=00_AfCWbaSRnX2qjQBrDGDd9BuqLMB6GuvrHN67QGlZuVMW-w&oe=63ED3B04");
    background-position: center;
}

.main-img::after{
    position: absolute;
    z-index: -1;

    content: "";
    width: 100%;
    height: 100%;

    
    background-color: #cf822acc;
}

.text-content{
    text-align: center;
    
}

.text-content h1{
    margin: 0;

    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

}

.text-content p{
    margin: 0;

    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: rgba(255, 255, 255, 0.815);
}

.catalogue{
    margin-top: 28px;

    width: 100%;
    height: auto;

    background-color: #1F1F1F;

    text-align: center;
}
.catalogue h2{
    margin: 0;

    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFB47D;
}

.img-projectable{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 250px;

    overflow: scroll;
}

.img-projectable::-webkit-scrollbar,
.img-sliding::-webkit-scrollbar{
    width: 0;
    scroll-behavior: smooth;
}

.img-projectable img{
    
    width: 200px;
    height: 200px;

    margin: 10px;

}
.img-sliding{
    display: flex;
    justify-content: center;

    width: 100%;
    height: 200px;

    overflow: scroll;
}

.img-sliding img{
    margin: 10px;

    width: 148px;
}

.glass h3{

    font-style: normal;
    font-weight: 400;
    font-size: 15px;

    color: white;
}


footer{
    width: 100%;

    background-color: #1F1F1F;
}

.social-media img{
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.social{
    margin-top: 20px;
    
    display: flex;
    flex-direction: row;
}

.contact{
    margin-left: 50px;
}

.contact h2{
    color: #FFB47D;
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.contact p{
    color: aliceblue;
    font-family: 'Lexend Zetta';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}